@model IEnumerable<Bankcustomer>
@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Transactions</th>
    </tr>
    @foreach(Bankcustomer customer in Model)
    {
        <tr>
            <td>@customer.Customerid</td>
            <td>@customer.Name</td>
            <td>@customer.City</td>
            <td>
                @if (customer.Banktransaction.Count == 0)
                {
                    <p>No Accounts</p>
                }
                else
                {
                    <ul>
                        @foreach(Bankaccount account in customer.Bankaccount)
                        {
                            <li>@account.Balance</li>
                        }
                    </ul>
                }
            </td>
        </tr>    
    }
</table>
